@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
:root {
  --clr-primary: #00c1cf;
  --clr-primary-overlay: rgba(0, 193, 207, 0.9);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: black;
}
.container {
  max-width: 73.5rem;
  /* padding-left: 1.5rem;
  padding-right: 1.5rem; */
  margin: 0 auto;
}
header {
  background-color: black;
  box-sizing: border-box;
  padding: 0.5em 0;
}
.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0.5em 0;
}
#header-contact,
#header-login {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}
.contact-links,
.login-links {
  color: var(--clr-primary);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contact-links div {
  margin-right: 0.3em;
}
.login-links div {
  margin-left: 0.65em;
}
#search-bar-wrap {
  border-bottom: 1px solid white;
}
.fa-search {
  padding-right: 0.5rem;
}
.search-bar-header {
  width: 100%;
  outline: none;
  border: none;
  background-color: black;
}
.search-bar-header::placeholder {
  color: white;
}
#header-contact {
  width: 35rem;
}
#header-login {
  width: 18rem;
  /* border: 2px solid red; */
}
#cart-items {
  width: 1.25em;
  height: 1.25em;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*main navigation section*/
#main-navigation {
  box-sizing: border-box;
  background-image: url("../../images/gPeonv.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
}
#nav-wrapper {
  background-color: var(--clr-primary-overlay);
}
#main-nav {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
#nav-logo {
  width: 13rem;
}
#nav-bar {
  width: 40rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  color: white;
  list-style-type: none;
  font-weight: bolder;
}
#nav-bar a {
  text-decoration: none;
  color: var(--clr-white-fonts);
}
.dropdown-services-content,
.dropdown-sectors-content {
  display: none;
  list-style-type: none;
  padding: 0;
  position: absolute;
  z-index: 500;
}
.dropdown-service,
.dropdown-sectors {
  cursor: pointer;
}
.dropdown-service,
.dropdown-sectors {
  margin: 1rem 0;
}
.dropdown-service-list-item:hover .dropdown-services-content {
  display: block;
  background-color: white;
  color: black;
  border-radius: 5px;
  border: 2px solid black;
}

.dropdown-sectors-list-item:hover .dropdown-sectors-content {
  display: block;
  background-color: white;
  color: black;
  border-radius: 5px;
  border: 2px solid black;
}
.services-links {
  display: flex;
  margin-left: 1rem;
  margin-top: 2rem;
}
.last-service-link {
  margin-bottom: 2rem;
}
.sectors-link {
  margin: 2rem 1rem 0 1rem;
}
.last-sector-link {
  margin-bottom: 2rem;
}
.services-links:hover .navigation-link-content,
.sectors-link:hover .navigation-link-content {
  border-bottom: 1px solid black;
}
.hamburger {
  display: none;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
#nav-description {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-weight: bolder;
}
#nav-description h1 {
  font-size: 3rem;
  margin: 0;
}
#nav-description h4 {
  font-size: 1.2rem;
}
#about-us {
  color: var(--clr-secondary);
}
.contacts-wrapper {
  background-color: white;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}
.contact-us {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}
.left-section-contact {
  width: 32%;
  /* background-color: var(--clr-primary); */
  color: black;
}
.left-section-contact h1 {
  font-size: 2rem;
  border-bottom: 2px solid black;
  width: 50%;
}
.left-section-contact p {
  font-size: 1.2rem;
}
.left-section-contact a {
  color: black;
}
.addr {
  margin-top: 3rem;
}
.phone-n {
  margin-top: 3rem;
}
#apply {
  line-height: 1.2;
}
.contact-address {
  margin-bottom: 4rem;
}
.phone-number {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
#email-heading {
  margin-bottom: 2rem;
}
#email-addr {
  font-size: 1.2rem;
}
.form {
  width: 66%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-intro {
  text-align: center;
  color: black;
}
.form-intro h1 {
  font-size: 3rem;
  margin-top: 0;
}
.form-intro > p {
  margin-bottom: 3rem;
  font-size: 1.1rem;
}
.form-inputs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.personal-details {
  flex: 0 0 47%;
  margin-bottom: 3rem;
  border: none;
  font-size: 1.2rem;
  outline: none;
  border-bottom: 2px solid black;
  padding: 0;
  background-color: white;
  color: black;
  padding-bottom: 2rem;
}
.personal-details::placeholder {
  color: black;
}
.message-input {
  width: 100%;
  margin-bottom: 4rem;
  border: none;
  font-size: 1.2rem;
  background-color: white;
  outline: none;
  border-bottom: 2px solid black;
  padding: 0;
  color: black;
  padding-bottom: 2rem;
}
.message-input::placeholder {
  color: black;
}
.submit-btn {
  text-align: right;
}
.submit-button {
  padding: 1.5rem 6rem;
  background-color: var(--clr-primary);
  font-size: 1.5rem;
  border: none;
  outline: none;
  margin-bottom: 5rem;
}
.feedback-wrap {
  background-color: white;
  width: 100%;
}
.feedback {
  display: flex;
  justify-content: space-between;
  color: white;
  max-width: 78rem;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.feedback-img {
  width: 40%;
  filter: drop-shadow(10px 10px 0 var(--clr-primary));
  border: 2px solid white;
}
.feedback-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.feedback-wrapper h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.feedback-wrapper p {
  font-size: 1.2rem;
}
.feedback-wrapper a {
  background-color: var(--clr-primary);
  text-align: center;
  padding: 1.5rem;
  text-decoration: none;
  margin-top: 3rem;
  font-size: 1.3rem;
  width: 40%;
  color: black;
}
/*subscribe section*/
#subscribe-section {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  border-radius: 5rem;
  background-color: var(--clr-primary);
  z-index: 99;
  max-width: 90%;
  margin-bottom: -4rem;
  position: relative;
}
#subscribe-wrapper {
  display: flex;
  width: 100%;
  padding: 1.8rem 3.5rem;
  justify-content: space-between;
  align-items: center;
}
#right-container {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}
#offer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 30rem;
}
#offer h3 {
  font-size: 1.5rem;
  color: var(--clr-background);
  margin: 0;
  margin-bottom: 1rem;
}
#offer h1 {
  font-size: 2rem;
  margin: 0;
  color: white;
}
#input-email {
  border-radius: 40px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
#input-email input {
  appearance: none;
  outline: none;
  padding: 0.3rem 1.2rem;
  border: none;
  border-radius: 40px;
  font-size: 1.3rem;
  width: 50%;
}
#input-email a {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 40px;
  z-index: 3;
  padding: 1.2rem 0;
  text-align: center;
  width: 50%;
}
/*contact us*/
#contact-section {
  box-sizing: border-box;
  background-color: var(--clr-primary-overlay);
}
#contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 7rem;
  padding-bottom: 7rem;
}
#contact-wrapper p {
  width: 70%;
  text-align: center;
  color: white;
}
#contact-bottom-link {
  display: flex;
  width: 20%;
  justify-content: space-evenly;
}
.contact-btns {
  padding: 0.8rem;
  border-radius: 50%;
  background-color: black;
  color: white;
}
/*footer*/
#footer {
  box-sizing: border-box;
  background-color: var(--clr-background);
}
#footer-wrapper {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: -5rem;
}
#footer-wrapper a {
  text-decoration: none;
  color: white;
}
#footer-wrapper p {
  color: white;
}

@media (max-width: 1200px) {
  .container {
    max-width: 63rem;
    padding: 1rem 2rem;
  }
  header {
    display: none;
  }
  .nav-bar {
    display: none;
  }
  .contact-us {
    flex-direction: column;
    align-items: center;
  }
  .left-section-contact {
    width: 80%;
    text-align: center;
  }
  /* .left-section-contact h1{
	font-size: 2rem;
	border-bottom: 2px solid white;
	width: 50%;
} */
  .left-section-contact h1 {
    width: 70%;
    margin: 0 auto;
  }
  .form {
    width: 90%;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-items: center;
  }
  .form-intro h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  .firstName,
  .email-input {
    margin-right: 0.5rem;
  }
  .lastName,
  .phone {
    margin-left: 0.5rem;
  }
  .personal-details {
    font-size: 1.1rem;
  }
  .message-input {
    font-size: 1.1rem;
  }
  .feedback {
    flex-direction: column;
  }
  .feedback-img {
    width: 80%;
  }
  .feedback-wrapper {
    width: 80%;
    align-items: center;
    text-align: center;
  }
  .feedback-wrapper h1 {
    font-size: 2rem;
  }
  .feedback-wrapper p {
    font-size: 1rem;
  }
  #subscribe-section {
    max-width: 100%;
    margin-bottom: -5.7rem;
  }
  #subscribe-wrapper {
    padding: 1rem 2rem;
    justify-content: center;
  }
  #subscribe-wrapper img {
    display: none;
  }
  #right-container {
    flex-direction: column;
  }
  #offer {
    margin-bottom: 1rem;
    text-align: center;
  }
  #input-email {
    width: 100%;
  }
  .contact-wrapper p {
    width: 80%;
  }
  .contact-bottom-link {
    width: 40%;
  }
}
@media (max-width: 800px) {
  #nav-bar {
    position: absolute;
    left: -100%;
    top: 7rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
  #nav-bar.active {
    left: 0;
  }
  .nav-bar-link {
    margin: 2.5rem 0;
    color: black;
  }
  .form {
    width: 98%;
  }
  .form-inputs {
    flex-direction: column;
    width: 80%;
  }
  .message-input {
    width: 80%;
  }
  .firstName,
  .email-input {
    margin-right: 0;
  }
  .lastName,
  .phone {
    margin-left: 0;
  }
  .personal-details {
    flex: 0 0 100%;
  }
  .feedback-wrapper a {
    width: 50%;
  }
  .feedback-wrapper h1 {
    margin-top: 1rem;
  }
  #subscribe-section {
    margin: 0;
    margin-bottom: -5rem;
    max-width: 100%;
  }
  #input-email {
    width: 80%;
    flex-direction: column;
    background-color: transparent;
  }
  #input-email input {
    margin-bottom: 2rem;
    padding-top: 0.7rem;
    width: 80%;
    padding-bottom: 0.7rem;
  }
  #input-email a {
    width: 70%;
  }
  .contact-wrapper p {
    width: 90%;
  }
  .contact-bottom-link {
    width: 55%;
  }
  .footer-wrapper,
  .footer-wrapper2 {
    margin-bottom: 0;
  }
}
@media (max-width: 500px) {
  .form-inputs {
    width: 90%;
  }
  .message-input {
    width: 90%;
  }
  .feedback-wrapper {
    width: 90%;
  }
  .feedback-wrapper a {
    width: 70%;
  }
  #subscribe-section {
    padding: 0;
  }
  #subscribe-wrapper {
    padding: 2rem 0;
  }
  .offer h3 {
    font-size: 1rem;
  }
  .offer h1 {
    font-size: 1.2rem;
  }
  #input-email input {
    margin-bottom: 1.25rem;
    width: 100%;
    padding: 0.7rem;
    font-size: 1rem;
  }
  #input-email a {
    width: 100%;
    font-size: 1.1rem;
  }
  .contact-wrapper p {
    width: 100%;
  }
  .contact-bottom-link {
    width: 80%;
  }
}
